<table class="table table-bordered">
  <tr>
    <td style="text-align:center; background-color:#ab1b1c; border:1px solid #ab1b1c;" colspan="2"><img src="https://www.fraudlabspro.com/images/logo_200.png" alt="FraudLabs Pro" width="170" height="31" /></td>
  </tr>
  <tr>
    <td colspan=2><blockquote>This order has not been screened by FraudLabs Pro.</blockquote></td>
  </tr>
</table>